<h2 class="title"><%= movie.escape("title") %> (<%= movie.escape("year") %>)</h2>

<section class="movie-show-info">

  <img class="poster" src="<%= movie.escape("poster_img") %>">

  <h4 class="director">Director: <%= movie.escape("director")%></h4>

  <p class="description"><%= movie.escape("description")%></p>

  <feature class="lib-buttons">
    <h4>Your Libraries<h4>
    <ul class="lib-button-list"></ul>
  </feature>
</section>



<section class="reviews">
  <h3>Reviews:</h3>
  <ul class="reviews-list"></ul>

  <div>
    <button class="add-review">Write a review for this movie</button>
  </div>
</section>
