<header class="home"></header>

<main class="home group">

  <div class="home-sidebar group">
    <section class="libraries">
      <button class="all-movies">All <%= username %>'s Movies</button>
      <h3><%= username %>'s Libraries:</h3>
      <ul class="library-list"></ul>
    </section>

    <section class="followings">
      <h3><%= username %> Follows:</h3>
      <ul class="followings-list"></ul>
    </section>
  </div>

  <div class="home-content">
    <section class="library-show">
      <div class="lib-show-prompt">
        <p>Click on one of <%= username %>'s libraries to see their movies.</p>
      </div>
    </section>

    <section class="reviews">
      <h3><%= username %>'s Recent Reviews:</h3>
      <ul class="my-review-list"></ul>
    </section>
  </div>
</main>
