<!DOCTYPE html>
<html>
<head>
  <title>GoodFlicks</title>
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag %>
</head>
<body class="<%= @credentials ? 'credentials' : '' %>">

<%= render partial: "layouts/header" %>

<%= yield %>


</body>
</html>
