<!DOCTYPE html>
<html>
<head>
  <title>GoodFlicks</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render partial: "layouts/header" %>

<%= yield %>

<% if current_user %>
  <%= render partial: "layouts/footer" %>
<% end %>


<script>
<% if current_user %>
  $(document).ready(function(){
    GoodFlicks.initialize();
    GoodFlicks.current_user_id = <%= current_user.id %>
  });
<% end %>
</script>

</body>
</html>
