<!DOCTYPE html>
<html>
<head>
  <title>GoodFlicks</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render partial: "layouts/header" %>

<%= yield %>

<%= render partial: "layouts/footer" %>
<script>
$(document).ready(function(){
  GoodFlicks.initialize({ cuid: <%= current_user.id %> });
});
</script>

</body>
</html>
